html, 
body {
    height: 100%;
}
.buttonContainer {
    display: flex;
    gap: 64px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button {
    background-color: rgb(162, 162, 214);
    border: 6px double white;
    border-radius: 12px;
    height: 64px;
    width: 128px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: honeydew;
    font-size: 18px;
}

button:hover {
    border: 0;
    animation: change-color 1.47s infinite;
  }
  
  @keyframes change-color {
    50% {
      background-color: rgb(211, 100, 118);
    }
    100% {
      background-color: rgb(162, 162, 214);
    }
  }
